.main {
  padding-top: 50px;
}

.homeSection {
  background: url('./assets/beach.jpg');
  background-size: cover;
  background-position: right;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 720px) {
    background-position: center;
  }
}
