@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Cormorant", serif; /* Use the correct font-family name */
  font-weight: 300; /* Ensure it matches one of the imported weights */
  font-style: normal; /* Set the style (e.g., normal or italic) */
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}
